<div class="query-panel">
    <div class="query-title">
        <span class="title">{{vm.overlay.title}}</span>
    </div>
    <div class="query-body">
        <div class="query-param">
            <div class="title">属性查询设置：</div>
            <ul class="query-list">
                <li class="query-item">
                    <span class="query-key">字段：</span>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            {{vm.overlay.field.data[vm.overlay.field.select].value}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="d in vm.overlay.field.data"><a ng-click="vm.overlay.field.select=d.id">{{d.value}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="query-item">
                    <span class="query-key">运算符：</span>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            {{vm.overlay.operator.data[vm.overlay.operator.select].value}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="d in vm.overlay.operator.data" ng-click="vm.overlay.operator.select=d.id"><a>{{d.value}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="query-item">
                    <span class="query-key">属性值：</span>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            {{vm.overlay.param.data[vm.overlay.param.select].value}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="d in vm.overlay.param.data" ng-click="vm.overlay.param.select=d.id"><a>{{d.value}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="query-btn">
                <button class="btn btn-success" style="display: flex;align-items: center" ng-click="add()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right: 5px"></span>
                    <span>添加至列表</span>
                </button>
            </div>
        </div>
        <div class="query-result">
            <div class="title">属性查询条件预览：</div>
            <ul style="height: 180px;width: 360px;border: 1px solid #d4d4d4;padding: 10px">
                <li ng-repeat="d in vm.overlay.query">{{d}}</li>
            </ul>
            <div class="query-btn">
                <button type="button" class="btn btn-default" ng-click="closeMask()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="commit()">确定</button>
            </div>
        </div>
    </div>
    <i class="icon-close" ng-click="closeMask()"></i>
</div>