<div class="symbol-pane">
    <div class="symbol-title">
        <span class="title">{{vm.title}}</span>
    </div>
    <div class="symbol-body">
        <div class="symbol-main">
            <ul class="symbol-list">
                <li class="symbol-item" ng-repeat="symbol in vm.overlay.data" ng-click="vm.select=symbol">
                    <img ng-src="{{symbol.Preview}}">
                    <span class="symbol-name">{{symbol.SymbolName}}</span>
                </li>
            </ul>
            <div class="pagination">
                <ul uib-pagination class="pagination-sm" total-items="vm.pagination.totalItems"
                    items-per-page="vm.pagination.pageSize" ng-model="vm.pagination.pageNo"
                    max-size="vm.pagination.maxSize" ng-change="pageChanged()" previous-text="&lsaquo;"
                    next-text="&rsaquo;"></ul>
            </div>
        </div>
        <div class="symbol-edit">
            <img class="preview" src="{{vm.select.Preview}}">
            <span class="symbol-name">{{vm.select.SymbolName}}</span>
        </div>
    </div>
    <i class="icon-close" ng-click="closeMask()"></i>
</div>
