<div class="head">
    <img src="./images/cloud.png">
    <h2 class="title">门户网站<span>-公众版</span></h2>
    <span>{{vm.doc.name || "新建地图"}}</span>
</div>
<div class="navi">
    <ul class="menu">
        <li class="menu-item" ng-repeat="menu in vm.menus as menus" ui-sref="{{menu.sref}}" ui-sref-active="active"
            ng-click="go($event, menu)">
            <img ng-src="{{menu.img}}">
            <span>{{menu.name}}</span>
        </li>
    </ul>
    <div class="method">
        <a ng-click="createOrClose()" class="btn-blue">{{vm.doc.docId ? '关闭文档' : '新建地图'}}</a>
        <!--<a ng-click="save()" ng-if="vm.doc.docId" class="btn-blue">保存</a>-->
        <a ng-click="publish()" ng-if="vm.doc.docId" class="btn-blue">发布</a>
    </div>
</div>
<div class="main">
    <div class="main-container">
        <div class="side-menu">
            <ui-view class="left-menu"></ui-view>
        </div>
        <div class="map-container">
            <div class="map-content">
                <div id="map" class="map"></div>
                <div class="layer-table" ng-if="vm.showTable">
                    <div class="table-container">
                        <div class="table-head">table head</div>
                        <div class="table-body">
                            <table border="1">
                                <tr>
                                    <th ng-repeat="(key, value) in vm.tables[0]">{{key}}</th>
                                </tr>
                                <tr ng-repeat="table in vm.tables">
                                    <td ng-repeat="(key, value) in table">{{value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>