<div class="side-menu">
    <ui-view class="left-menu"></ui-view>
</div>
<div class="map-container">
    <div id="map" class="map"></div>
    <!--<div class="layer-table" ng-class="{showTable: false}">-->
        <!--<div class="table-container">-->
            <!--<div class="table-head">table head</div>-->
            <!--<div class="table-body">-->
                <!--<table border="1">-->
                    <!--<tr>-->
                        <!--<th ng-repeat="(key, value) in vm.tables[0]">{{key}}</th>-->
                    <!--</tr>-->
                    <!--<tr ng-repeat="table in vm.tables">-->
                        <!--<td ng-repeat="(key, value) in table">{{value}}</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>